<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}Real Estate Estimator{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/"> <!-- Make the logo clickable -->
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" style="height: 50px;"> <!-- Increased height -->
            </a>
        </div>
        <div class="navbar-menu">
            <a href="/">Home</a>
            <a href="{{ url_for('estimator') }}">Estimator Tool</a>
            <a href="/about">About Us</a>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>
