{% extends "base.html" %}

{% block title %}Simple Google Maps{% endblock %}

{% block head %}
  <!-- Load Google Maps Extended Component Library -->
  <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
  
  <!-- Link to external CSS for Google Maps component -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}

{% block body %}
  <!-- Google Maps API Loader -->
  <gmpx-api-loader key="YOUR_GOOGLE_API_KEY" solution-channel="GMP_GE_mapsandplacesautocomplete_v1"></gmpx-api-loader>

  <!-- Google Maps Component -->
  <gmp-map center="40.749933,-73.98633" zoom="13">
    <div slot="control-block-start-inline-start" class="place-picker-container">
      <gmpx-place-picker placeholder="Enter an address"></gmpx-place-picker>
    </div>
    <gmp-advanced-marker></gmp-advanced-marker>
  </gmp-map>
{% endblock %}

{% block scripts %}
  <!-- Link to external JavaScript for initializing Google Maps -->
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script src="{{ url_for('static', filename='js/geojson.js') }}"></script>
{% endblock %}
