/* Card Style for Details Container */
.detail-card {
    padding: 30px;
    background-color: #ffffff;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

/* Header Styling */
header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #2C4E71;
    margin-bottom: 20px;
    text-align: center;
}

/* Subtitle Styling */
.card-subtitle {
    font-size: 1.1rem;
    color: #007bff;
    font-weight: 500;
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.card-subtitle:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Row and Column Styling for Left-Right Alignment */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: max-height 0.3s ease; /* Smooth transition */
}

.col {
    flex: 0 0 48%; /* Each column takes 48% of the width to allow for spacing */
    margin-top: 10px;
}

/* Custom Button Styling */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #2C4E71;
    text-decoration: none;
    transition: color 0.3s;
}

.custom-button:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
